html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
}

.panel {
    min-height: 100%;
    width: calc((100% - 2px) / 2);
    padding: 1rem 2rem;
}

#separator-line {
    background-color: #ddd;
    width: 2px;
    min-height: 100%;
}

/* Controller display */

#controller-display {
    position: relative;
    width: 7rem;
    height: 7rem;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #eee;
}

#controller-display>div {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #aaa;
    border-radius: 50%;
}
