html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
}

.panel {
    min-height: 100%;
    width: calc((100% - 2px) / 2);
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 2.5rem 0 .5rem 0;
}

#separator-line {
    background-color: #ddd;
    width: 2px;
    min-height: 100%;
}

/* Controller display */

#controller-display {
    position: relative;
    width: 7rem;
    height: 7rem;
    border: 2px solid #ddd;
    border-radius: 50%;
    background-color: #eee;
}

#controller-display>div {
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #aaa;
    border-radius: 50%;
}

/* Soundboard */

#soundboard {
    flex-grow: 1;
    border-top: 2px solid #ddd;
    margin-top: 2rem;
}

#soundboard>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#soundboard>div>div {
    width: 4rem;
    height: 4rem;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #ddd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 1rem 0;
}

#soundboard>div>div>img {
    max-width: 100%;
    max-height: 100%;
}

#soundboard>div>div:hover {
    background-color: #eee;
}

/* Settings */

input[type="text"], input[type="number"], input[type="submit"] {
    all: unset;
    display: block;
    width: 12rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.3rem;
}

input[type="submit"] {
    background-color: #eee;
    border: 1px solid #ddd;
    width: min-content;
    cursor: pointer;
    margin: 2.5rem 0;
}

select {
    display: block;
    width: 12rem;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.3rem;
    background-color: white;
    font-size: unset;
}

#kp-ki-kd-settings {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#kp-ki-kd-settings>input {
    width: 100%;
    flex-shrink: 1;
    margin-right: .5rem;
}
